*{
  box-sizing: border-box;
}
header{
  background-color: aqua;
  height: 200px;
  text-align: center;
  font-size: 30px;
}

nav{
  background-color:indianred;
  height: 100px;
  text-align: center;
  font-size: 30px;
}

.article-one{
  background-color: blueviolet;
  height: 400px;
  text-align: center;
  font-size: 30px;
}

.article-two{
  background-color:darkred;
  height: 400px;
  text-align: center;
  font-size: 30px;
}

aside{
  background-color: darkslategray;
  height: 300px;
  text-align: center;
  font-size: 30px;
}

footer{
background-color: hotpink;
height: 200px;
text-align: center;
  font-size: 30px;
}

/*
.row{
  display: flex;
}

.myGrid{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  width: 80%;
}

.myGrid .gridEL-1{
  width: 20%;
}
.myGrid .gridEL-2{
  width: 40%;
}
.myGrid .gridEL-3{
  width: 60%;
}
.myGrid .gridEL-4{
  width: 80%;
}
.myGrid .gridEL-5{
  width: 100%;
}
*/

.container{
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  margin: 0 20px;
}

.item-1{
  grid-column: col-start / span 12;
}

.item-2{
  grid-column: col-start 2 / -1;
}

.item-3{
  grid-column: col-start 2 / 5;
}

.item-4{
  grid-column: col-start 5 / span 5;
}

.item-5{
  grid-column: col-start 10 / 12;
}

.item-6{
  grid-column: 1 / span 12;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

  .item-2{
    grid-column: col-start 1 / -1;
  }

  .item-3{
    grid-column: col-start 1 / 7;
  }
  
  .item-4{
    grid-column: col-start 7 / 13;
  }
  
  .item-5{
    grid-column: col-start 1 / -1;
  }
}

@media screen and (max-width: 500px) {
  .item-2{
    grid-column: col-start 1 / -1;
  }

  .item-3{
    grid-column: col-start 1 / -1;
  }
  
  .item-4{
    grid-column: col-start 1 / -1;
  }

  .item-5{
    grid-column: col-start 1 / -1;
  }
}