*{
  box-sizing: border-box;
}
header{
  background-color: aqua;
  height: 200px;
  text-align: center;
  font-size: 30px;
}

nav{
  background-color:indianred;
  height: 100px;
  text-align: center;
  font-size: 30px;
}

.article-one{
  background-color: blueviolet;
  height: 400px;
  text-align: center;
  font-size: 30px;
}

.article-two{
  background-color:darkred;
  height: 400px;
  text-align: center;
  font-size: 30px;
}

aside{
  background-color: darkslategray;
  height: 300px;
  text-align: center;
  font-size: 30px;
}

footer{
background-color: hotpink;
height: 200px;
text-align: center;
  font-size: 30px;
}

/*
.cssGrid{
  display: grid;
  margin: 0 10%;
  width: 80%;
  grid-template-columns: 5fr;
}

.cssGrid .gridEl-1{grid-column: span 1;}
.cssGrid .gridEl-2{grid-column: span 2;}
.cssGrid .gridEl-3{grid-column: span 3;}
.cssGrid .gridEl-4{grid-column: span 4;}
.cssGrid .gridEl-5{grid-column: span 5;}
*/
.row{
  display: flex;
}

.myGrid{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  width: 80%;
}

.myGrid .gridEL-1{
  width: 20%;
}
.myGrid .gridEL-2{
  width: 40%;
}
.myGrid .gridEL-3{
  width: 60%;
}
.myGrid .gridEL-4{
  width: 80%;
}
.myGrid .gridEL-5{
  width: 100%;
}

